<h1>Editar Municipe</h1>

<%= render "form", municipe: @municipe %>

<br>

<div>
  <%= link_to "Detalhes", @municipe, class: "btn btn-secondary" %> |
  <%= link_to "Voltar", municipes_path, class: "btn btn-secondary" %>
</div>
